.block-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
}

h1 {
    max-width: 565px;
    color: white;
    font-size: 73px;
    font-weight: bold;
    line-height: 120%;
    padding-bottom: 20px;
}

span {
    color: #2A4AF4;
}

h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #2A4AF4;
    padding-bottom: 20px;
}

h2 {
    font-weight: 700;
    font-size: 60px;
    color: white;
}

p {
    font-weight: 500;
    max-width: 441px;
    font-size: 16px;
    line-height: 27px;
    color: #9B9B9B;
    padding-bottom: 20px;
}

.block-info__btn button {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: white;
}

.plans {
    padding: 27px 28px;
    background: none;
    border: 2px solid white;
    margin-left: 20px;
}

.start {
    padding: 27px 38px;
    background: #5F65F4;
    border: 2px solid #5F65F4;
}

.block-info__numbers {
    display: flex;
    align-items: center;
    color: white;
    font-size: 54px;
    margin-top: 35px;
}

.reviews,
.hostings {
    text-align: left;
    position: relative;

}

.reviews {
    margin-right: 30px;
}

.reviews h4,
.hostings h4 {
    position: absolute;
    color: #2A4AF4;
    font-size: 24px;
    right: -10px;
}

.block-img {
    height: 810px;
    position: relative;
}

.block-dignity {
    position: absolute;
    bottom: 0;
}

.block-dignity__row,
.server-row {
    display: flex;
    color: white;
    align-items: flex-end;
}

.server,
.ssl,
.support {
    max-width: 315px;
    padding: 25px 20px;
    background-color: #9694E7;
}

.ssl,
.support {
    background-color: #5F65F4;
}


.server-row__txt {
    padding: 0;
    margin: 0;
    padding-left: 10px;
}

.server-row__txt h3 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.server-row__txt h4 {
    font-size: 20px;
    font-weight: 500;
}

.trust {
    background-color: #1F1D2C;
    height: 500px;
    text-align: center;
}

.trust-title h2 {
    font-size: 40px;
    padding-top: 140px;
    padding-bottom: 65px;
}

.trust-list img {
    margin-right: 40px;
}

.trust-list img:last-child {
    margin-right: 0px;
}

.characteristics {
    padding-top: 70px;
}

.characteristics-row,
.testimonials-row,
.getStarted-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.characteristics-img {
    position: relative;
}

.characteristics-block {
    position: absolute;
    display: flex;
    align-items: center;
    max-width: 325px;
    background-color: #1F1D2C;
    padding: 20px 15px;
}

.characteristics-block h3 {
    padding: 0 0px 0 20px;
    margin: 0;
    color: white;
}

.characteristics-block__first {
    left: -40px;
    top: 185px;
}

.characteristics-block__second {
    right: -40px;
    bottom: 164px;
    padding: 20px 30px;
}

.characteristics-txt {
    text-align: left;
    max-width: 550px;
    position: relative;
}

.characteristics-txt h2 {
    padding-bottom: 20px;
}

.advantage-row {
    display: flex;
    justify-content: space-between;
    max-width: 455px;
}

.advantage-row h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    padding: 0;
    color: #9694E7;
}

.advantage-row {
    margin-top: 115px;
}

.advantage-row__first {
    margin-top: 50px;
}

.start__characteristics {
    padding: 27px 25px;
    position: absolute;
    bottom: -195px;
}

.ourServices {
    margin-top: 220px;
}

.ourServices h3 {
    text-align: center;
    padding: 0;
}

.ourServices h2 {
    font-weight: 700;
    line-height: 70px;
    padding-top: 40px;
    max-width: 666px;
    margin: auto;
    text-align: center;
}

.capabilities-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.ourServices-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    max-width: 1150px;
    padding-top: 40px;
}

.ourServices-block {
    width: 345px;
    padding: 45px 25px;
    background-color: #1F1D2C;
}

.ourServices-block h3 {
    color: white;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    padding: 15px 0;
    text-align: left;
}

.ourServices-block p {
    font-size: 20px;
    padding: 0;
}

.capabilities {
    margin-top: 190px;
}

.capabilities-block {
    display: flex;
    align-items: center;
    width: 475px;
    background-color: #1F1D2C;
    padding: 35px 40px;
    margin-top: 10px;
    color: white;
}

.capabilities-block h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: white;
    padding-left: 40px;
}

.capabilities-txt {
    margin-left: 50px;
}

.capabilities-txt .advantage-row {
    margin-top: 35px;
    max-width: 570px;
    justify-content: left;
}

.capabilities-txt h3 {
    padding: 0;
}

.capabilities-txt .advantage-row h3 {
    font-size: 20px;
    text-align: left;
    margin-left: 55px;
}

.capabilities-txt .advantage-row h3:first-child {
    margin-left: 0px;
}

.capabilities-txt h2 {
    font-size: 50px;
    padding-top: 20px;
}

.capabilities-txt p {
    padding-bottom: 0;
    padding-top: 20px;
}

.capabilities-row button {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: white;
    margin-top: 35px;
}

.prices {
    margin-top: 190px;
    text-align: center;
}

.prices-row {
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 20px;
    margin-top: 40px;
}

.prices-block {
    background-color: white;
    padding: 30px 20px;
    border-radius: 20px;
    height: 790px;
    display: flex;
    flex-flow: column;
}

.prices-block__main {
    flex: 1 1 auto;
}

.prices-block h3,
h4,
p {
    padding: 0;
}

.prices-block h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #171420;
}

.prices-block h4 {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #2A4AF4;
    padding-top: 20px;
    padding-bottom: 10px;
}

.prices-block p {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #5C5C5C;
    padding-top: 20px;
}

.price h4 {
    padding-bottom: 0;
    padding-top: 0;
}

.price h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 10px;
    color: #171420;
}

.buy {
    margin-left: 20px;
    margin-top: 30px;
    width: 315px;
    height: 81px;
    background: #2A4AF4;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.map {
    text-align: center;
    margin-top: 200px;
}

.map h3 {
    padding-bottom: 40px;
}

.map h2 {
    max-width: 795px;
    margin: auto;
    padding-bottom: 100px;
}

.testimonials {
    padding-top: 160px;
}

.testimonials-txt {
    max-width: 600px;
}

.testimonials-txt h2 {
    padding-top: 20px;
}

.testimonials-row button {
    color: white;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

.testimonials-block {
    margin-top: 65px;
    max-width: 400px;
    height: 400px;
    padding: 65px 20px 45px 30px;
    background-color: #1F1D2C;
}

.testimonials-block p {
    font-weight: 500;
    font-size: 20px;
    line-height: 154%;
}

.testimonials-block__img {
    padding: 0;
    position: relative;
}

.play {
    position: absolute;
    bottom: 170px;
    left: 170px;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    padding: 0;
}

.stars {
    padding-bottom: 30px;
}

.author-row {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-left: 20px;
}

.author-info {
    padding-left: 20px;
}

.author-info h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.author-info h5 {
    padding-top: 5px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #2A4AF4;
}

.getStarted {
    background-color: #1F1D2C;
    margin-top: 175px;
    padding-bottom: 90px;
}

.getStarted-row {
    padding-top: 75px;
}

.getStarted-txt {

    max-width: 620px;
}

.getStarted-txt h2 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.getStarted-txt p {
    padding-bottom: 40px;
}

.getStarted-img {
    position: relative;
    background: #171420;
    height: 630px;
    width: 595px;
    padding: 50px 20px;
}

.getStarted-img h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: white;
    margin-top: 15px;
}

.getStarted-img h4:first-child {
    margin-top: 0px;
}

.getStarted-img span {
    padding-right: 5px;
    font-size: 18px;
}

.getStarted-img .elipse {
    position: absolute;
    bottom: 0;
    right: 0;
}

.man {
    position: absolute;
    bottom: 0;
    right: -35px;
}

.newsletter-block {
    position: relative;
    text-align: center;
    margin-top: 150px;
    background-color: #9694E7;
    height: 400px;
    border-radius: 12px;
}

.newsletter-block img {
    position: absolute;
}

.elipse1 {
    top: 0;
    left: 0;
}

.elipse2 {
    bottom: 0;
    right: 0;
}

.newsletter-block h3 {
    color: black;
    padding-top: 54px;

}

.newsletter-block h2 {
    padding-top: 20px;

}

.newsletter-block .input {
    margin-top: 70px;
}

.input input {
    width: 495px;
    height: 80px;
    outline: none;
    border: none;
}

.subscribe {
    align-items: center;
    padding: 10px 14px;
    margin-left: 20px;
    width: 186px;
    height: 80px;
    border: none;
    color: white;
    background-color: #1F1D2C;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
}